.fc{
    display:flex;
    flex-wrap: wrap-reverse;
    flex-direction: column-reverse;
    flex-flow: column wrap;
}
.gc{
    display:grid;
    column-gap: 2cm;
    gap: 2cm;
    align-items: start;
}
button:hover{
    color : yellow;
}
button:active{
    color : grey;
}
/*setting for image*/
img{
    height: 10cm;
    width: 20cm;
    max-width: 20cm;
    max-height: 10cm;
}
p.tp {
    margin-left: 20px;
    padding-left: 1ch;
    border-color: blue;
    border-radius: 1ch;
    border-width: 20px;
    border-style: dotted;
    display: block;
    position: static;
}
h1{
    color: #2f00ff;
    text-decoration: overline;
    text-align: center;
    font-size: 1in;
    line-height: 1em;
    padding: 1px;
    margin:auto;
    display: inline;
    position: sticky;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: rgba(117, 110, 128, 0.6);
    font-size: 1cm;
    margin: 1em;
    line-height: 1ex;
}
h3{
    color: red;
    font-size: 10mm;
    line-height: 1ch;
}
h4{
    color: hsl(30, 100%, 50%, 0.6);
}
body {
    background-color: white;
}
@media screen and (min-width: 800px) {
    body {
        background-color: pink;
    }
}  